/*
Theme Name: IDI Theme
Theme URI: http://inclusivedesign.ca
Description: A theme for the Inclusive Design Institute website
Author: Heidi Valles, Anastasia Cheetham
Template: wordpress-fss-theme
Version: 1.0
*/

@import url("../wordpress-fss-theme/style.css");
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('fonts/Lato-Light.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('fonts/Lato-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('fonts/Lato-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('fonts/Lato-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('fonts/Lato-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('fonts/Lato-Black.woff') format('woff');
}


/* Page-wide styles */
html {
    height: 100%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #202020;
}
body {
    background-image: url('images/bg.png');
    background-position: 0px 0px; /* horizontal vertical */
    background-repeat: repeat;
    overflow: auto;
}
.fl-site-wrapper,
.fl-uiOptions-fatPanel,
.idi-loginOut-fatPanel,
.fl-site-header,
.fl-site-nav-main.sticky .menu,
.fl-site-main-body,
.fl-site-footer {
    max-width: 1280px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #0075B0;
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
}
h3 {
    font-size: 1.125em;
    font-weight: 700;
}
.idi-box {
    margin: 10px 10px;
}
.idi-box .idi-box-text {
    padding: 20px;
}
.idi-shadow-box {
    background-color: #ffffff;
    -moz-box-shadow: 0 0 5px 3px #DDDDDD;
    -webkit-box-shadow: 0 0 5px 3px #DDDDDD;
    box-shadow: 0 0 5px 3px #DDDDDD;
}

/* Front Page styles */
.front-cols {
    position: static;
}
.front-cols .wp-post-image {
    width: 100%;
    height: auto;
}
.front-cols .post .date {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.625em;
}
.front-cols .post h2 {
    margin-top: 0;
    margin-bottom: 0.625em;
}
.front-cols .post h2 a {
    color: #202020;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}
.idi-research-clusters {
    max-width: 1024px;
}
/* Background of main content */
.fl-site-logo {
    background-repeat: no-repeat;
    background-image: url('images/idi_logo.png');
    height: 87px;
    width: 87px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fl-site-name {
    margin-top: 1.125em;
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
    font-size: 1.75em;
    color: #585858;
}
.fl-site-header a {
    text-decoration: none;
}

/* Main site navigation */
.fl-site-nav-main {
    float: none;
    display:block;
    background-color: inherit;
}
.fl-site-nav-main a {
    text-transform: lowercase;
    color: #414141;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.875em;
}
.fl-site-nav-main li.current_page_item {
    border: 2px solid #414141;
}
.fl-site-nav-main li.current_page_item a {
    color: #000000;
}
.fl-site-nav-main .menu {
    width: 100%;
}
.fl-site-nav-main ul {
    text-align: center;
    margin: 0;
    padding-top: 1.125em;
    padding-bottom: 1.5em;
}

/* Ensure nav elements stick to top of screen */
.fl-spacer-el {
    display: none;
}
.fl-site-nav-main.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("images/bg.png") repeat scroll center center transparent;
    z-index: 9999;
}
.fl-site-nav-main.sticky .menu {
    border-bottom: 1px solid #202020;
}
.idi-section-nav.sticky {
    position: fixed;
    top: 3em;
}

/**
 * Research Cluster circles
 */

/* general to all circles */
.idi-research-clusters {
    position: relative;
    height: 575px;
}
.idi-research-clusters .idi-research-cluster {
    vertical-align: middle;
}
.idi-research-clusters .idi-research-cluster * {
    display: inline-block;
}
.idi-research-clusters .idi-research-cluster .idi-cluster-arrow {
    width: 21px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.idi-research-clusters .idi-research-cluster div {
    opacity: 0.7;
}
.idi-research-clusters .idi-cluster-name {
    position: absolute;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 1em;
}
/* position of each cluster */
.idi-research-clusters .idi-dev-cluster {
    position: absolute;
    top: 175px;
    left: 65px;
}
.idi-research-clusters .idi-info-cluster {
    position: absolute;
    top: 85px;
    right: 280px;
}
.idi-research-clusters .idi-policy-cluster {
    position: absolute;
    top: 360px;
    left: 195px;
}
.idi-research-clusters .idi-mobile-cluster {
    position: absolute;
    top: 60px;
    left: 700px;
}

/* Design and Dev cluster */
.idi-research-clusters .idi-dev-cluster-circle {
    width: 141px;
    height: 141px;
    background-color: #17B46C;
    border-radius: 70px;
}
.idi-research-clusters .idi-dev-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_right.png");
    height: 141px;
}
.idi-research-clusters .idi-dev-cluster-name {
    color: #17B46C;
    font-size: 1.75em;
    width: 8em;
    top: 36%;
    left: 170px;
}

/* Information and Implementation Practices cluster */
.idi-research-clusters .idi-info-cluster-circle {
    width: 121px;
    height: 121px;
    background-color: #0EB0E6;
    border-radius: 60px;
}
.idi-research-clusters .idi-info-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_left.png");
    height: 121px;
}
.idi-research-clusters .idi-info-cluster-name {
    color: #0EB0E6;
    font-size: 1.5em;
    text-align: right;
    width: 10em;
    top: 36%;
    right: 150px;
}

/* Business Case, Policies, Standards and Legislation cluster */
.idi-research-clusters .idi-policy-cluster-circle {
    width: 70px;
    height: 70px;
    background-color: #EF5C25;
    border-radius: 35px;
}
.idi-research-clusters .idi-policy-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_right.png");
    height: 70px;
}
.idi-research-clusters .idi-policy-cluster-name {
    color: #EF5C25;
    font-size: 1.5em;
    width: 10em;
    top: 27%;
    left: 100px;
}

/* Moble and Pervasive Computing cluster */
.idi-research-clusters .idi-mobile-cluster-circle {
    width: 88px;
    height: 88px;
    background-color: #FED307;
    border-radius: 44px;
}
.idi-research-clusters .idi-mobile-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_right.png");
    height: 88px;
}
.idi-research-clusters .idi-mobile-cluster-name {
    color: #FED307;
    width: 7em;
    font-size: 1.3125em;
    top: 33%;
    left: 115px;
}


/* Navigational Cues */
.current_page_item {
    /* this class is added to the page link for the current page */
}

/* Footer */
.fl-site-footer {
    padding-top: 1em;
    border-top: 1px solid #202020;
    font-style: italic;
}
.fl-site-footer .idi-cfi {
    margin-top: 1em;
    font-size: 1.2em;
}
.fl-site-footer .idi-cfi a {
    font-weight: 400;
}

/* Tweaking FSS column sizes */
.fl-col-mixed .fl-col-fixed {
    padding: 0 1em;
    width: 15em;
}
.fl-col-mixed .fl-col-flex.idi-two-column {
    margin-left: 17em; /* the 15em of the sidebars, plus their 2x1em paddings */
    margin-right: 17em;
}
.fl-col-mixed .fl-col-flex.idi-one-column {
    margin-right: 17em;
    margin-left: 0;
}

/* Twitter widget */
.twitter-feed-group h2 {
    background-image: url("images/twitter_bird.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 2em;
    display: inline-block;
    font-weight: normal;
    color: #f4be3d;
    text-transform: lowercase;
    font-style: italic;
}
.twitter-feed-group .tweet-container {
    padding: 1em;
}
.twitter-feed-group {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.twitter-feed-group a.twitter-follow-button {
    font-size: 1.2em;
    color: #202020;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-decoration: none;
}
.twitter-feed-group ul {
    margin-left: 0px;
}
.twitter-feed-group ul li {
    list-style: none;
}
.twitter-feed-group .tweet-date {
    font-style: italic;
    text-decoration: none;
}

/* Buttons at the top of the window */
.fl-uiOptions-fatPanel .fl-panelBar {
    height: 0;
}
.fl-uiOptions-fatPanel .fl-toggleButton,
.idi-loginout {
    background-color: #FFFFFF;
    color: #414141;
    font-style: italic;
    font-weight: 400;
    font-size: 1em;
    text-transform: lowercase;
    border-radius: 5px;
    background-position: 3% 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.fl-uiOptions-fatPanel .fl-toggleButton {
    background-image: url("images/gear_white.png");
}    
.idi-loginout {
    width: 4em;
    text-align: center;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    float: right;
    font-weight: bold;
    padding: 5px 5px 5px 25px;
    background-image: url("images/gear_white.png");
    margin-right: 0.3em;
}
.idi-loginout a {
    color: #7598A5;
}

/* for pages with a ToC, ensure anchors don't hide under top nav */
a.anchor {
    position: relative;
    top: -3em; /* this amount is an estimate */
}

/* Login/out pull-down panel */
.idi-loginOutPanel {
    background-color: #FFFFFF;
    clear: both;
    z-index: 999;
    position: absolute;
    top: 0;
    padding: 2em;
}
.idi-login-form #loginform p {
    display: inline;
}

/* Institution List on front page */
.idi-institutions.idi-box {
    margin-top: 0;
}
.idi-institutions h3 {
    margin-top: 0;
    margin-bottom: 0.625em;
}
.idi-institutions p {
    font-style: italic;
    margin-bottom: 0.625em;
}
ul.idi-institution-list {
    margin-left: 0;
    padding-bottom: 1.25em;
    border-bottom: 1px solid #202020;
}
ul.idi-institution-list li {
    list-style-type: none;
}

/* Contact Us section */
.idi-mailing-address,
.idi-phone,
.idi-email {
    font-size: 0.875em;
    padding-left: 25px;
    padding-bottom: 10px;
    background-image: url("images/arrow_lg_blue_right.png");
    background-repeat: no-repeat;
}
.idi-mailing-list {
    margin-top: 1em;
}
.idi-mailing-list form {
    margin-top: 0.375em;
}
