/*
Theme Name: IDI Theme
Theme URI: http://inclusivedesign.ca
Description: A theme for the Inclusive Design Institute website
Author: Heidi Valles, Anastasia Cheetham
Template: wordpress-fss-theme
Version: 1.0
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url("../wordpress-fss-theme/style.css");

/* Page-wide styles */
html {
    height: 100%;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
body {
    background-image: url('images/temp-background.png');
    background-position: 0px 0px; /* horizontal vertical */
    background-repeat: repeat;
    overflow: auto;
}
a {
    color: #0096Bf;
}
.front-cols {
    background-color: #ffffff;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    margin: 10px 10px; /* the margin is to provide room for the box shadow */
   padding: 10px
}
.idi-footer-popup-content,
.idi-footer-main,
.fl-uiOptions-fatPanel,
.idi-loginOut-fatPanel {
    max-width: 1280px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
/* Background of main content */
.fl-site-header,
.fl-site-main-body {
    padding-bottom: 1em;
    max-width: inherit;
    min-width: inherit;
}
.fl-site-header {
}
.fl-site-main-body,
.idi-footer-popup {
/*    background-color: #efefef; /* this will become the background of the footer */
}
.fl-site-logo {
    background-repeat: no-repeat;
    background-image: url('images/idi_logo.png');
    height: 87px;
    width: 87px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main site navigation */
.fl-site-nav-main {
    float: none;
    display:block;
    background-color: inherit;
}
.fl-site-nav-main a {
    text-transform: lowercase;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 1px 1px #ffffff;
}
.fl-site-nav-main li.current_page_item {
    border-bottom: 2px solid orange;
}
.fl-site-nav-main li.current_page_item a {
    color: #000000;
}
.fl-site-nav-main .menu {
    width: 100%;
}
.fl-site-nav-main ul {
    width: 38em;
    margin: 0 auto;
    padding: 1em 0;
}

/* Ensure nav elements stick to top of screen */
.fl-spacer-el {
    display: none;
}
.fl-site-nav-main.sticky {
    width: 100%;
    position: fixed;
    top: 0;
}
.fl-site-nav-main.sticky .menu {
    background-color: #ffffff;
    max-width: 1260px;
    min-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
.idi-section-nav.sticky {
    position: fixed;
    top: 3em;
}

/* Research Cluster images */
.idi-name {
    text-transform: lowercase;
    color: #666666;
    text-shadow: 0px 1px 1px #ffffff;
    text-align: center;
    margin: 2em 0;
    font-size: 2em;
    font-style: italic;
}
#research-clusters ul {
    margin-left: 0;
    margin-right: 0;
}
#research-clusters ul li {
    display: inline-block;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    text-align: center;
    vertical-align:text-top;
}
#research-clusters ul li a {
    color: #3dac6b;
    font-style: italic;
}
#research-clusters ul li a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigational Cues */
.current_page_item {
    /* this class is added to the page link for the current page */
}

/* Footer */
.idi-footer-popup {
    border-bottom: 1px solid gray;
}
.idi-footer-main {
    text-align: left;
    position: relative;
/*
    background-color: #ffffff;
*/
}
.fl-site-footer {
    margin-top: 0;
}
.idi-mailing-list {
    color: white;
    background-color: #add3d3;
    padding: 1em 1em 2em 1em; /*  top right bottom left*/
    width: 16em;
    position: relative;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    position: relative;
    top: 1em;
}
.fl-site-footer ul {
    margin-left: 0;
}
.fl-site-footer ul li {
    list-style: none;
}
/* Tweaking FSS column sizes */
.fl-col-mixed .fl-col-fixed {
    padding: 0 1em;
    width: 15em;
}
.fl-col-mixed .fl-col-flex.idi-two-column {
    margin-left: 17em; /* the 15em of the sidebars, plus their 2x1em paddings */
    margin-right: 17em;
}
.fl-col-mixed .fl-col-flex.idi-one-column {
    margin-right: 17em;
    margin-left: 0;
}

/* Twitter widget */
.sidebar-tweets {
    border-top:#f4be3d solid 5px;
    background: #EEEEEE;
}
.sidebar-tweets h2 {
    background-image: url("images/twitter_bird.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 2em;
    display: inline-block;
    font-weight: normal;
    color: #f4be3d;
    text-transform: lowercase;
    font-style: italic;
}
.sidebar-tweets .tweet-container {
    padding: 1em;
}
.sidebar-tweets .twitter-feed-group {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.sidebar-tweets .twitter-follow-button {
    font-size: 1.2em;
}
.sidebar-tweets ul {
    margin: 0px;    
}
.sidebar-tweets ul li {
    list-style: none;
}
.sidebar-tweets .tweet-date {
    font-style: italic;
    text-decoration: none;
}

/* Buttons at the top of the window */
.fl-uiOptions-fatPanel .fl-panelBar {
    height: 0;
}
.fl-uiOptions-fatPanel .fl-toggleButton,
.idi-loginout {
    background-color: #e9f4f3;
    color: #7598a5;
    text-transform: lowercase;
    border-radius: 5px;
    background-position: 3% 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.fl-uiOptions-fatPanel .fl-toggleButton {
    background-image: url("images/gear_white.png");
}    
.idi-loginout {
    width: 4em;
    text-align: center;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    float: right;
    font-weight: bold;
    padding: 5px 5px 5px 25px;
    background-image: url("images/gear_white.png");
    margin-right: 0.3em;
}
.idi-loginout a {
    color: #7598A5;
}

/* for pages with a ToC, ensure anchors don't hide under top nav */
a.anchor {
    position: relative;
    top: -3em; /* this amount is an estimate */
}

/* Login/out pull-down panel */
.idi-loginOutPanel {
    background-color: #FFFFFF;
    clear: both;
    z-index: 999;
    position: absolute;
    top: 0;
    padding: 2em;
}
.idi-login-form #loginform p {
    display: inline;
}
