/*
Theme Name: IDI Theme
Theme URI: http://inclusivedesign.ca
Description: A theme for the Inclusive Design Institute website
Author: Heidi Valles, Anastasia Cheetham
Template: wordpress-fss-theme
Version: 1.0
*/

@import url("../wordpress-fss-theme/style.css");
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('fonts/Lato-Light.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('fonts/Lato-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('fonts/Lato-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('fonts/Lato-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('fonts/Lato-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('fonts/Lato-Black.woff') format('woff');
}


/* Page-wide styles */
html {
    height: 100%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #202020;
}
body {
    background-image: url('images/bg.png');
    background-position: 0px 0px; /* horizontal vertical */
    background-repeat: repeat;
    overflow: auto;
}
a {
    color: #0075B0;
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
}
.front-cols {
    position: static;
}
.front-cols .box {
    background-color: #ffffff;
    -moz-box-shadow: 0 0 5px 3px #DDDDDD;
    -webkit-box-shadow: 0 0 5px 3px #DDDDDD;
    box-shadow: 0 0 5px 3px #DDDDDD;
    margin: 10px 10px; /* the margin is to provide room for the box shadow */
   padding: 10px
}
.front-cols .post .date {
    font-weight: 700;
}
.fl-site-wrapper,
.idi-footer-popup-content,
.idi-footer-main,
.fl-uiOptions-fatPanel {
    max-width: 1024px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
/* Background of main content */
.fl-site-header,
.fl-site-main-body {
    padding-bottom: 1em;
    max-width: inherit;
    min-width: inherit;
}
.fl-site-header {
}
.fl-site-main-body,
.idi-footer-popup {
/*    background-color: #efefef; /* this will become the background of the footer */
}
.fl-site-logo {
    background-repeat: no-repeat;
    background-image: url('images/idi_logo.png');
    height: 87px;
    width: 87px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fl-site-name {
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
    font-size: 1.75em;
    color: #585858;
}

/* Main site navigation */
.fl-site-nav-main {
    float: none;
    display:block;
    background-color: inherit;
}
.fl-site-nav-main a {
    text-transform: lowercase;
    color: #414141;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.875em;
}
.fl-site-nav-main li.current_page_item {
    border: 2px solid #414141;
}
.fl-site-nav-main li.current_page_item a {
    color: #000000;
}
.fl-site-nav-main .menu {
    width: 100%;
}
.fl-site-nav-main ul {
    width: 38em;
    margin: 0 auto;
    padding: 1em 0;
}

/* Ensure nav elements stick to top of screen */
.fl-spacer-el {
    display: none;
}
.fl-site-nav-main.sticky {
    width: 100%;
    position: fixed;
    top: 0;
}
.fl-site-nav-main.sticky .menu {
    background-color: #ffffff;
    max-width: 1260px;
    min-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
.idi-section-nav.sticky {
    position: fixed;
    top: 3em;
}

/**
 * Research Cluster circles
 */

/* general to all circles */
#research-clusters {
    position: relative;
    height: 575px;
}
#research-clusters .idi-research-cluster {
    vertical-align: middle;
}
#research-clusters .idi-research-cluster * {
    display: inline-block;
}
#research-clusters .idi-research-cluster .idi-cluster-arrow {
    width: 21px;
    height: 21px;
}
#research-clusters .idi-research-cluster a {
    font-style: italic;
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1em;
}
#research-clusters .idi-research-cluster div {
    opacity: 0.7;
}
/* position of each cluster */
#research-clusters .idi-dev-cluster {
    position: absolute;
    top: 195px;
    left: 64px;
}
#research-clusters .idi-info-cluster {
    position: absolute;
    top: 130px;
    right: 360px;
}
#research-clusters .idi-policy-cluster {
    position: absolute;
    top: 390px;
    left: 176px;
}
#research-clusters .idi-mobile-cluster {
    position: absolute;
    top: 90px;
    left: 688px;
}

/* Design and Dev cluster */
#research-clusters .idi-dev-cluster-circle {
    width: 141px;
    height: 141px;
    background-color: #17B46C;
    border-radius: 70px;
}
#research-clusters .idi-dev-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_right.png");
}
#research-clusters .idi-dev-cluster-name {
    color: #17B46C;
    font-size: 1.75em;
    width: 8em;
}

/* Information and Implementation Practices cluster */
#research-clusters .idi-info-cluster-circle {
    width: 121px;
    height: 121px;
    background-color: #0EB0E6;
    border-radius: 60px;
}
#research-clusters .idi-info-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_left.png");
}
#research-clusters .idi-info-cluster-name {
    color: #0EB0E6;
    font-size: 1.5em;
    text-align: right;
    width: 10em;
}

/* Business Case, Policies, Standards and Legislation cluster */
#research-clusters .idi-policy-cluster-circle {
    width: 70px;
    height: 70px;
    background-color: #EF5C25;
    border-radius: 35px;
}
#research-clusters .idi-policy-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_right.png");
}
#research-clusters .idi-policy-cluster-name {
    color: #EF5C25;
    font-size: 1.5em;
    width: 10em;
}

/* Moble and Pervasive Computing cluster */
#research-clusters .idi-mobile-cluster-circle {
    width: 88px;
    height: 88px;
    background-color: #FED307;
    border-radius: 44px;
}
#research-clusters .idi-mobile-cluster-arrow {
    background-image:  url("images/arrow_lg_blue_right.png");
}
#research-clusters .idi-mobile-cluster-name {
    color: #FED307;
    width: 7em;
    font-size: 1.3125em;
}


/* Navigational Cues */
.current_page_item {
    /* this class is added to the page link for the current page */
}

/* Footer */
.idi-footer-popup {
    border-bottom: 1px solid gray;
}
.idi-footer-main {
    text-align: left;
    position: relative;
/*
    background-color: #ffffff;
*/
}
.fl-site-footer {
    margin-top: 0;
}
.idi-mailing-list {
}
.fl-site-footer ul {
    margin-left: 0;
}
.fl-site-footer ul li {
    list-style: none;
}
/* Tweaking FSS column sizes */
.fl-col-mixed .fl-col-fixed {
    padding: 0 1em;
    width: 15em;
}
.fl-col-mixed .fl-col-flex.idi-two-column {
    margin-left: 17em; /* the 15em of the sidebars, plus their 2x1em paddings */
    margin-right: 17em;
}
.fl-col-mixed .fl-col-flex.idi-one-column {
    margin-right: 17em;
    margin-left: 0;
}

/* Twitter widget */
.sidebar-tweets {
    border-top:#f4be3d solid 5px;
    background: #EEEEEE;
}
.sidebar-tweets h2 {
    background-image: url("images/twitter_bird.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 2em;
    display: inline-block;
    font-weight: normal;
    color: #f4be3d;
    text-transform: lowercase;
    font-style: italic;
}
.sidebar-tweets .tweet-container {
    padding: 1em;
}
.sidebar-tweets .twitter-feed-group {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.sidebar-tweets .twitter-follow-button {
    font-size: 1.2em;
}
.sidebar-tweets ul {
    margin: 0px;    
}
.sidebar-tweets ul li {
    list-style: none;
}
.sidebar-tweets .tweet-date {
    font-style: italic;
    text-decoration: none;
}

/* Buttons at the top of the window */
.fl-uiOptions-fatPanel {
    margin-bottom: 2em;
}
.fl-uiOptions-fatPanel .fl-panelBar {
    height: 0;
}
.fl-uiOptions-fatPanel .fl-toggleButton,
.idi-loginout {
    background-color: #FFFFFF;
    color: #414141;
    font-style: italic;
    font-weight: 400;
    text-transform: lowercase;
    border-radius: 3px;
    background-position: 3% 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 0px;
    font-weight: bold;
    border: thin;
}
.fl-uiOptions-fatPanel .fl-toggleButton {
    background-image: url("images/gear_white.png");
    margin-top: 1px;
    border-style: none solid solid solid;
}
.idi-loginout {
    width: 4em;
    text-align: center;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    padding: 5px 5px 5px 25px;
    background-image: url("images/gear_white.png");
    position: absolute;
    right: 12.5em;
    border-style: none solid solid solid;
}

/* for pages with a ToC, ensure anchors don't hide under top nav */
a.anchor {
    position: relative;
    top: -3em; /* this amount is an estimate */
}

/* Login/out pull-down panel */
.idi-loginOutPanel {
    background-color: #FFFFFF;
    /*clear: both;
    position: absolute;*/
    z-index: 999;
    top: 0;
    padding: 2em;
}
.idi-login-form #loginform p {
    display: inline;
}
