/*
Theme Name: IDI Theme
Theme URI: http://inclusivedesign.ca
Description: A theme for the Inclusive Design Institute website
Author: Heidi Valles, Anastasia Cheetham
Template: wordpress-fss-theme
Version: 1.0
*/

@import url("../wordpress-fss-theme/style.css");

html {
    background-color: #efefef; /* this will become the background of the footer */
    height: 100%;
}
/* Background of main content */
.fl-site-header,
.fl-site-main-body {
    background-color: #ffffff;
    padding-bottom: 1em;
    max-width: inherit;
    min-width: inherit;
}
.foofer {
    top: 0;
}
.fl-site-logo {
    background-repeat: no-repeat;
    background-image: url('images/idi_logo.png');
    height: 174px;
    width: 173px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fl-site-nav-main {
    float: none;
    display:block;
    background-color: white;
}
.fl-site-nav-main .menu {
    width: 100%;
}
.fl-site-nav-main ul {
    width: 25em;
    margin: 0 auto;
    padding: 1em 0;
}

.fl-site-nav-main.sticky {
    width: 950px; /* this matches the 950px width of the main container */
    position: fixed;
    top: 0;
}
.fl-spacer-el {
    display: none;
}

/* Research Cluster images */
#research-clusters ul {
    margin-left: 0;
    margin-right: 0;
}
#research-clusters ul li {
    display: inline-block;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    text-align: center;
    vertical-align:text-top;
}
#research-clusters ul li a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigational Cues */
.current_page_item {
    /* this class is added to the page link for the current page */
}

/* Footer */
.fl-site-footer {
    /* these should match the site wrapper */
    max-width: 1280px;
    min-width: 800px;
}
footer {
    margin-top: 2em;
}

/* Tweaking FSS column sizes */
.fl-col-mixed .fl-col-fixed {
    padding: 0 1em;
    width: 15em;
}
.fl-col-mixed .fl-col-flex.idi-two-column {
    margin-left: 17em; /* the 15em of the sidebars, plus their 2x1em paddings */
    margin-right: 17em;
}
.fl-col-mixed .fl-col-flex.idi-one-column {
    margin-right: 17em;
    margin-left: 0;
}
