/*
Theme Name: IDI Theme
Theme URI: http://inclusivedesign.ca
Description: A theme for the Inclusive Design Institute website
Author: Heidi Valles, Anastasia Cheetham
Template: wordpress-fss-theme
Version: 1.0
*/

@import url("../wordpress-fss-theme/style.css");

html {
    height: 100%;
    font-size: 1.2em;
}
a {
    text-decoration: none;
}
/* Background of main content */
.fl-site-header,
.fl-site-main-body {
    padding-bottom: 1em;
    max-width: inherit;
    min-width: inherit;
}
.fl-site-header {
    background-color: #add3d3;
}
.fl-site-main-body,
.idi-footer-popup {
    background-color: #efefef; /* this will become the background of the footer */
}
.fl-site-logo {
    background-repeat: no-repeat;
    background-image: url('images/idi_logo.png');
    height: 174px;
    width: 173px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main site navigation */
.fl-site-nav-main {
    float: none;
    display:block;
    background-color: inherit;
}
.fl-site-nav-main a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.fl-site-nav-main li.current_page_item {
    border: 2px solid #fbf8cd;
}
.fl-site-nav-main li.current_page_item a {
    color: #fbf8cd;
}
.fl-site-nav-main .menu {
    width: 100%;
}
.fl-site-nav-main ul {
    width: 25em;
    margin: 0 auto;
    padding: 1em 0;
}

.fl-site-nav-main.sticky {
    width: 100%;
    position: fixed;
    top: 0;
}
.fl-spacer-el {
    display: none;
}

/* Research Cluster images */
.idi-name {
    text-transform: lowercase;
    color: #2dafb9;
    text-align: center;
    margin: 2em 0;
    font-size: 2em;
}
#research-clusters ul {
    margin-left: 0;
    margin-right: 0;
}
#research-clusters ul li {
    display: inline-block;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    text-align: center;
    vertical-align:text-top;
}
#research-clusters ul li a {
    color: #3dac6b;
    font-style: italic;
}
#research-clusters ul li a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigational Cues */
.current_page_item {
    /* this class is added to the page link for the current page */
}

/* Footer */
.idi-footer-popup {
    border-bottom: 1px solid gray;
}
.idi-footer-popup-content {
    /* these should match the site wrapper */
    max-width: 1280px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.idi-footer-main {
    max-width: 1280px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.fl-site-footer {
    margin-top: 0;
}
.idi-mailing-list {
    color: white;
    background-color: #add3d3;
    padding: 1em;
    width: 16em;
    position: relative;
}
.fl-site-footer ul {
    margin-left: 0;
}
.fl-site-footer ul li {
    list-style: none;
}
/* Tweaking FSS column sizes */
.fl-col-mixed .fl-col-fixed {
    padding: 0 1em;
    width: 15em;
}
.fl-col-mixed .fl-col-flex.idi-two-column {
    margin-left: 17em; /* the 15em of the sidebars, plus their 2x1em paddings */
    margin-right: 17em;
}
.fl-col-mixed .fl-col-flex.idi-one-column {
    margin-right: 17em;
    margin-left: 0;
}

/* Twitter widget */
.sidebar-tweets h2 {
    background-image: url("images/twitter_bird.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 2em;
    display: inline-block;
    font-weight: normal;
    color: #f4be3d;
    text-transform: lowercase;
    font-style: italic;
}
.sidebar-tweets .tweet-container {
    background-color: #ffffff;
    padding: 1em;
}
.sidebar-tweets .twitter-feed-group {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.sidebar-tweets .twitter-follow-button {
    font-size: 1.2em;
}
.sidebar-tweets ul {
    margin: 0px;    
}
.sidebar-tweets ul li {
    list-style: none;
}
.sidebar-tweets .tweet-date {
    font-style: italic;
    text-decoration: none;
}

/* The UIO show/hide button */
.fl-uiOptions-fatPanel .fl-toggleButton {
    background-color: #e9f4f3;
    color: #7598a5;
    text-transform: lowercase;
}
